header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    
    nav{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > span{
            cursor:pointer;
            &:hover{
                color: aqua;
            }
        }
        ul{
            list-style:none;

            li{
                cursor:pointer;
                &:hover{
                    color: aqua;
                }
            }
        }
    }
}
